main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 4rem;
    padding-top: 2rem;
}
.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
}
@media screen and (min-width : 1300px){
    iframe,#logoimage,#arjun{
        height: 30rem;
    }
    main{
        grid-template-columns: 1fr 1.3fr;
        font-size: 1.3rem;
    }
}
@media screen and (min-width : 800px) and (max-width : 1100px){
    iframe,#logoimage,#arjun{
        height: 30rem;
    }
    main{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width : 800px){
    main{
        grid-template-columns: 1fr;
    }
    iframe,#logoimage,#arjun{
        height: 15rem;
    }
}
.contacts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
footer img{
    width: 2rem;
}
footer a:hover img{
    animation: widthinc 0.5s linear 0s;
    width: 3rem;
}
@keyframes widthinc {
    from{
        width: 2rem;
    }
    to{
        width: 3rem;
    }
}
footer{
    height: 8rem;
}
@media screen and (min-width : 600px) and (max-width : 900px) {
    footer{
        height: 14rem;
    }
}
@media screen and (max-width : 600px) {
    #mailid,#linkedinid{
        display: none;
    }
}
